EMAIL_HOST_USER = 'shagorrobidasjvai@gmail.com'
EMAIL_HOST_PASSWORD=gqsr mpuj jhhr riur
POSTGRES_DB_NAME=comper_closet_db
POSTGRES_USER=comper_closet_user
POSTGRES_PASSWORD=comper_closet
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
ALLOWED_HOSTS=172.31.26.160,localhost,3.225.98.180,127.0.0.1
